/*FONTS*/
.black{
	font-family: 'TestGeograph-Black';
}
.bold{
	font-family: 'TestGeograph-Bold';
}
.medium{
	font-family: 'TestGeograph-Medium';
}
.regular{
	font-family: 'TestGeograph-Regular';
}
.thin{
	font-family: 'TestGeograph-Thin';
}
.light{
	font-family: 'TestGeograph-Light';
}
/*SIZES*/
.s45{
  font-size: 45px;
}
.s40{
  font-size: 38px;
}
.s35{
  font-size: 35px;
}
.s30{
  font-size: 30px;
}
.s28{
  font-size: 28px;
}
.s25{
  font-size: 25px;
}
.s20{
  font-size: 20px;
}
.s15{
  font-size: 15px;
}
/*letter spacing*/
.ls40{
  letter-spacing: 2px;
}
.ls30{
  letter-spacing: 1.4px;
}
.ls20{
  letter-spacing: 1px;
}
.blackc{
  color: black;
}
.whitec{
  color: white;
}
p, h3, h1, h2, h4, h5, h6, article{
  line-height: 1.2;
}
/*vso*/
header{
  padding-top: 23px;
  padding-bottom: 23px;
  
  /*position: fixed;*/
  top: 0;
  left: 0;
  
  /*z-index: 10;*/
  background-color: white;
}
/*#navbar{
	transition: top 0.3s;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}*/
.header-color-change{
  background-color: black;
}
.header-color-change-white{
  background-color: white;
}
.list-1  li {
  display: flex;
  margin-bottom:  25px;
}
.list-1  li  i{
  margin-right: 10px;
}
.wrap-it{
	word-wrap: break-word;
}
.fa-chevron-down{
  margin-left: 10px;
}
.header{
  max-width: 1088px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header-menu{
  max-width: 1088px;
  width: 80%;
  margin: 0 auto;
  display: none;
}
.head-menu{
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.list-menu{
  display: flex;
  justify-content: space-between;
}
.collapsible {
  cursor: pointer;
  display: flex;
}
.content {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: none;
  flex-direction: column;
}
.content a{
  margin-bottom: 10px;
}

.display-none{
  display: none;
}
.display-block{
  display: block;
}
.display-flex{
  display: flex;
}
/*body{
  padding-top: 80px;
}
*/.ul{
  width: 399px;
  display: flex;
  justify-content: space-between;
}

.f{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.list-0{
  display: flex;
  align-items: center;
}
.mobile-menu{
  display: none;
  font-size: 30px;
  color: black;
}

/*.logoo img{
  width: 100%;
}
.mom{
  display: flex;
  justify-content: space-around;
  align-items: center;
}*/
/*.divv,.test-1{
  width: 60%;
  display: flex;
  justify-content: space-between;
}*/

/*.icon{
  color: #3D58A6;
  font-size: 35px;
}
.icon::after{
  content: ' ';
    width: 2px;
    height: 26.67px;
    background-color: #363E97;
    margin-left: 30px;
    display: inline-block;
}*/


/*SECTION 1*/
.s1-1{
	background-image: url('../img/ramon-salinero-vEE00Hx5d0Q-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*padding-left:139px; 
	padding-right:139px;*/
	padding-top: 240px;
	padding-bottom: 240px;
}
.div1-1, .div1-2{
	max-width: 1088px;
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.p-2{
	max-width: 398px;
	width: 30%;
}
.h3{
	margin-bottom: 25px;
	margin-top: 25px;
}
/*SECTION 2*/
.s1-2{
	background-color: #F2F2F2;
	padding-top: 102px;
	padding-bottom: 102px;
}
.div1-2-1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
}
.div1-2-2{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*.img{
	height: 295px;
}*/
.div1-2-1-img{
	width: 44%;
}
.img1{
	height: 295px;
	background-image: url('../img/Group 86.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.img2{
	height: 295px;
	background-image: url('../img/HeLa Cell 1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.div1-2-1-img img{
	max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.div1-2-2-img img{
	max-width: 100%;
    max-height: 100%;
}
.div1-2-1-img p{
	margin-top: 12px;
}
.div1-2-1-text{
	width: 43%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.div1-2-1-text p{
	margin-top: 21px;
}
/*.flex-end{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}*/
/*#pi{
	margin-top: 31px;
	margin-bottom: 31px;
}*/
/*section 3*/
.s1-3{
	background-image: url('../img/Group 75.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top:110px;
	padding-bottom: 110px;
}
.mom{
	max-width: 1088px;
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.h11{
	margin-bottom: 66px;
	
}
.p2{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.h33{
	margin-bottom: 25px;
}

/*section 4*/
.s1-4{
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items:  center;
	padding-top: 90px;
	padding-bottom: 90px;
	width: 80%;
	margin: 0 auto;
}
.inputs{
	height: 60px;
	width: 100%;
	font-family: 'TestGeograph-Regular';
	font-size: 15px;
	padding-left: 20px;
	margin-bottom: 16px;
	background-color: #F5FAFA;
	border: none;
	outline: none;
	border-radius: 30px;
}
button{
	transition:all 0.1s linear;
}
.submit{
	border-radius: 30px;
	background-color: #AD0707;
	text-align: center;
	font-family: 'TestGeograph-Regular';
	font-size: 17px;
	height: 60px;
	width: 100%;
	color: white;
	outline: none;
	border: none;
}
.inputs::placeholder, textarea::placeholder{
	color: #9E8E8E;
	font-family: 'TestGeograph-Regular';
	font-size: 15px;
	margin: 0 auto;
}
.form-box{
	margin-top: 57px;
	display: flex;
	flex-direction: column;
	width: 40%;
}
/*footer*/
footer{
	background-color: #F0F5F5;
	padding-bottom: 72px;
	padding-top: 72px;
}
.foot{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact h3{
	margin-bottom: 15px;
}
.contact h4{
	margin-bottom: 10px;
}
.socmedia{
	display: flex;
}
.socmedia i{
	margin-left: 29px;
	color: #878787;
	transition:all 0.2s linear;
}
/*HOVERS*/
.underline {
	position: relative;
	padding-bottom:5px;
	transition:all 0.1s linear;
}

.underline:after {
	content: ' ';
	position: absolute;
	bottom: 0;
	left:0;
	background-color: #AD0707;
	height: 3px;
	width: 0%;
	transition:all 0.2s linear;
}
.underline:hover:after {
	width: 100%;
}
.underline-without-hover{
	position: relative;
	padding-bottom:5px;
}
.underline-without-hover:after {
	content: ' ';
	position: absolute;
	bottom: 0;
	left:0;
	background-color: #AD0707;
	height: 3px;
	width: 100%;
	transition:all 0.2s linear;
}
.socmedia i:hover{
	color: black;
}

button:hover{
	background-color: black;
}
/*MENU*/


/*DESCRIPTIONS*/
.very-background{
	background-color: #F5FAFA;
	padding-top: 30px;
}
.text-middle{
	text-align: center;
	margin-bottom: 30px;
}
/*section 2 1*/
.s2-1{
	background-image: url('../img/Group 76.jpg');
	
	padding-top: 170px;
	padding-bottom: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.mom-2{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mom-3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20%;
}
.paragraphs{
	
	margin-bottom: 24px;
}

.read-more{
	border-radius: 20px;
	background-color: #AD0707;
	text-align: center;
	width: 90%;
	height: 40px;
	outline: none;
	border: none;
}
.s2-2{
	background-image: url('../img/Group 77.jpg');
	
	padding-top: 170px;
	padding-bottom: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.s2-3{
	background-image: url('../img/Group 78.jpg');
	
	padding-top: 170px;
	padding-bottom: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.s2-4{
	background-image: url('../img/Group 79.jpg');
	
	padding-top: 170px;
	padding-bottom: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.s2-5{
	background-image: url('../img/Group 80.jpg');
	
	padding-top: 170px;
	padding-bottom: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.s2-6{
	background-image: url('../img/Group 81.jpg');
	
	padding-top: 170px;
	padding-bottom: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.s2-7{
	background-image: url('../img/Group 82.jpg');
	
	padding-top: 170px;
	padding-bottom: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*PAGE 3 PHYSICS*/
.s3-1{
	background-image: url('../img/Group 83.jpg');
	
	padding-top: 200px;
	padding-bottom: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*.s3-2{
	background-color: #F5FAFA;
	margin-top: 33px;
}*/
.inline-block{
	display: inline-block;
}
.article-1{
	margin-top: 33px;
}
.s3-3{
	margin-top: 70px;
	margin-bottom: 90px;
}
.read-more-specific{
	border-radius: 20px;
	background-color: #AD0707;
	text-align: center;
	width: 20%;
	height: 40px;
	outline: none;
	border: none;
	margin: 0 auto;
	margin-top: 20px;
}

.marg{
	margin-top: 27px;
	margin-bottom: 70px;
}
.img{
	height: 200px;
	background-image: url("../img/Higgs_Ledefullwidth.jpg");
	width: 30%;
	float: right;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/*.img img, .img-2 img{
	width: 100%;
	
}*/
.img-2{
	background-image: url("../img/light-img3.gif");
	height: 200px;
	width: 30%;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	margin-right: 10px;
}
/*.article-and-image{
	display: flex;
}*/
/*.article-and-image article{
	width: 60%;
}*/
.content-1{
	display: none;
}
.read-more-b{
	border-radius: 20px;
	background-color: #AD0707;
	text-align: center;
	height: 40px;
	outline: none;
	width: 100%;
	border: none;
}
.read-more-button{
	width: 20%;
}
.f-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
/*discoveries page*/
.s4-1{
	background-image: url('../img/Group 85.jpg');
	
	padding-top: 190px;
	padding-bottom: 33px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.text-1{
	width: 50%;
}
.collapsible-3 {
  cursor: pointer;
  margin-bottom: 40px;
}
.div-3{
	display: flex;
	align-items: center;
}
.same-sections{
	margin-top: 100px;
}
.paragraph-to-disappear{
	margin-top: 20px;
}
.change-button-state{
	margin-right: 6px;
	margin-left: 6px;
}
/*contact*/
.contact-div{
	padding-top: 50px;
	padding-bottom: 100px;
}
.form-box{
	display: flex;
	justify-content: space-between;
}


.contact-div-1{
	max-width: 720px;
	width: 66%;
}
.contact-inputs{
	height: 60px;
	width: 100%;
	font-family: 'TestGeograph-Regular';
	font-size: 15px;
	padding-left: 20px;
	margin-bottom: 16px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 30px;
}
textarea{
	width: 100%;
	resize: none;
	padding-left: 20px;
	padding-top: 20px;
	font-family: 'TestGeograph-Regular';
	font-size: 15px;
	height: 288px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 30px;
}
.contact-div-2{
	display: flex;
	flex-direction: column;
	max-width: 352px;
	width: 32%;
}
/*.contact-inputs{
	height: 60px;
	font-family: 'Poppins medium';
	font-size: 13px;
	padding-left: 20px;
	margin-bottom: 16px;
	background-color: #F8F8F8;
	border: 2px solid #E8E8E8;
	outline: none;
}*/
/*.contact-inputs::placeholder, textarea::placeholder{
	color: #CECECE;
	font-family: 'Poppins medium';
	font-size: 13px;
	margin: 0 auto;
}*/
/*.fa-paper-plane{
	height: 16px;
	width: auto;
	margin-left: 10px;
}*/
.contact-form-box{
	margin-top: 52px;
	display: flex;
	justify-content: space-between;
}
.line{
	height: 2px;
	background-color: #878787;
	width: 9%;
	margin-bottom: 23px;
}
.contact-div .socmedia .fa-twitter{
	margin-left: 0px;
}
/*COMING SOON*/
.coming-soon-div{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-top: 60px;
}
.cogs{
	width: 40%;
	height: 300px;
	position: relative;
}
.big-cog{
	position: absolute;
	width: 200px;
	height: auto;
	top: 0;
	right: 50px;
}

.medium-cog{
	position: absolute;
	top: 200px;
	width: 100px;
	height: auto;
	right: 0;
}
.spin{
	animation:spin 10s linear infinite;
}
.spin-back{
	animation:spin-back 10s linear infinite;
}
@keyframes spin {
	 100% {transform:rotate(360deg); } 
	}
@keyframes spin-back {
	 100% {transform:rotate(-360deg); } 
	}
.c .socmedia .fa-twitter{
	margin-left: 0px;
}
.c{
	padding-bottom: 30px;
	margin-top: 90px;
}
/*SLICK*/
.slick-prev:before, .slick-next:before{
	color: black !important;
	opacity: 0.8 !important;
}
.slider {
    display: flex;
    width: 100%;
}
.slider .slider_item {
   /* width: 40%;*/
   /* height: 200px;*/
    margin:30px;
}
.slider-1{
	background-image: url("../img/Group 01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 120px;
	padding-left: 20px;
	width: 100%;
    height: 200px;   
}
.slider-2{
	background-image: url("../img/Group 02.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 120px;
	padding-left: 20px;
	width: 100%;
    height: 200px;   
}
.slider-3{
	background-image: url("../img/Group 03.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 120px;
	padding-left: 20px;
	width: 100%;
    height: 200px;   
}
.slider-4{
	background-image: url("../img/condmat.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 120px;
	padding-left: 20px;
	width: 100%;
    height: 200px;   
}
.slider-5{
	background-image: url("../img/optics.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 120px;
	padding-left: 20px;
	width: 100%;
    height: 200px;   
}
.slider-6{
	background-image: url("../img/HAtomOrbitals.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 120px;
	padding-left: 20px;
	width: 100%;
    height: 200px;   
}

/*.slick-active { 
  padding: 20px 0; 
}
*/
.slick-center { 
  transform: scale(1.3) 
}
*:focus {
    outline: none;
}
